USE [master]
GO
/****** Object:  Database [dbDemo]    Script Date: 2023/1/16 下午 04:01:43 ******/
CREATE DATABASE [dbDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbDemo]
GO
/****** Object:  Table [dbo].[tCustomer]    Script Date: 2023/1/16 下午 04:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCustomer](
	[fId] [int] IDENTITY(1,1) NOT NULL,
	[fName] [nchar](50) NULL,
	[fPhone] [nchar](50) NULL,
	[fEmail] [nchar](50) NULL,
	[fAddress] [nchar](50) NULL,
	[fPassword] [nchar](50) NULL,
 CONSTRAINT [PK_tCoustomer] PRIMARY KEY CLUSTERED 
(
	[fId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tProduct]    Script Date: 2023/1/16 下午 04:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tProduct](
	[fId] [int] IDENTITY(1,1) NOT NULL,
	[fName] [nvarchar](50) NULL,
	[fQty] [int] NULL,
	[fCost] [money] NULL,
	[fPrice] [money] NULL,
 CONSTRAINT [PK_tProduct] PRIMARY KEY CLUSTERED 
(
	[fId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tShoppingCart]    Script Date: 2023/1/16 下午 04:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tShoppingCart](
	[fId] [int] IDENTITY(1,1) NOT NULL,
	[fDate] [nvarchar](50) NULL,
	[fCustomerId] [int] NULL,
	[fProductId] [int] NULL,
	[fCount] [int] NULL,
	[fPrice] [money] NULL,
 CONSTRAINT [PK_tShoppingCart] PRIMARY KEY CLUSTERED 
(
	[fId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tCustomer] ON 

INSERT [dbo].[tCustomer] ([fId], [fName], [fPhone], [fEmail], [fAddress], [fPassword]) VALUES (1, N'Marco                                             ', N'0938547658                                        ', N'marco@gmail.com                                   ', N'Taipei                                            ', N'1234                                              ')
INSERT [dbo].[tCustomer] ([fId], [fName], [fPhone], [fEmail], [fAddress], [fPassword]) VALUES (2, N'Selipa                                            ', N'0963258462                                        ', N'selina@gmail.com                                  ', N'Tainan                                            ', N'1234                                              ')
INSERT [dbo].[tCustomer] ([fId], [fName], [fPhone], [fEmail], [fAddress], [fPassword]) VALUES (7, N'Jason                                             ', N'0935126987                                        ', N'jason@gmail.com                                   ', N'PingTung                                          ', N'4321                                              ')
SET IDENTITY_INSERT [dbo].[tCustomer] OFF
GO
SET IDENTITY_INSERT [dbo].[tProduct] ON 

INSERT [dbo].[tProduct] ([fId], [fName], [fQty], [fCost], [fPrice]) VALUES (2, N'清邁七天六夜之旅', 250, 3500.0000, 64000.0000)
INSERT [dbo].[tProduct] ([fId], [fName], [fQty], [fCost], [fPrice]) VALUES (3, N'首爾五天四夜之旅', 20, 4000.0000, 56000.0000)
INSERT [dbo].[tProduct] ([fId], [fName], [fQty], [fCost], [fPrice]) VALUES (4, N'柬埔寨十天九夜之旅', 10, 400.0000, 100.0000)
SET IDENTITY_INSERT [dbo].[tProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[tShoppingCart] ON 

INSERT [dbo].[tShoppingCart] ([fId], [fDate], [fCustomerId], [fProductId], [fCount], [fPrice]) VALUES (1, N'20230116153350', 1, 4, 5, 100.0000)
SET IDENTITY_INSERT [dbo].[tShoppingCart] OFF
GO
USE [master]
GO
